In [ ]:
Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?
soln:MongoDB is an open-source NoSQL database that stores data in JSON-like documents with dynamic schemas, allowing for flexible and scalable data management.

Non-relational Databases:
Non-relational (NoSQL) databases differ from SQL databases by:

Schema-less: Flexible data models without fixed schemas.
Scalability: Designed for horizontal scaling.
Data Models: Includes document-based, key-value, wide-column, and graph databases.

When to Use MongoDB Over SQL Databases
Flexible Schema Needs: Ideal for applications with evolving data structures.
Complex Data Models: Better for hierarchical and nested data.
Big Data Applications: Handles large-scale, distributed data efficiently.
High Write Throughput: Suitable for applications with high write operations.
Rapid Development: Allows quick adaptation to changing requirements.
Cloud-native Apps: Designed for scalability and high availability in cloud environments.
Geospatial Data: Strong support for location-based services.

In [ ]:
Q2. State and Explain the features of MongoDB.
soln:
Document Storage:
Stores data in documents similar to JSON, making it easy to handle complex data.

Flexible Schema:
No need for a fixed structure, so you can change your data model anytime.

Scalable:
Can grow easily by adding more servers, perfect for big applications.

Fast Performance:
Quick read and write operations, good for high-speed data handling.

Data Replication:
Copies data across multiple servers, ensuring it's always available.

Indexing:
Uses indexes to speed up data searches.

Data Aggregation:
Allows you to process and analyze data directly in the database.

Geospatial Support:
Handles location-based data, useful for maps and location services.

Ad Hoc Queries:
Lets you make flexible and spontaneous queries.

In [ ]:
Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [1]:
import pymongo
uri =  "mongodb+srv://sarthakghodmare:Pwskills@cluster0.m4j1pde.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

In [27]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.8.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.6.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
uri

'mongodb+srv://sarthakghodmare:Pwskills@cluster0.m4j1pde.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0'

In [5]:

from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

uri = "mongodb+srv://sarthakghodmare:Pwskills@cluster0.m4j1pde.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [11]:
db=client['pwskills'] # db is a database

In [12]:
coll_pwskills=db["my_record"]

In [ ]:
Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [13]:
data3={"name":"utkasrh",
      "class":" accenture data science master",
      "time":"flexible" #it is a data.
}

In [ ]:
data3={"name":"utkasrh",
      "class":" accenture data science master",
      "time":"flexible" #it is a data.
}

In [14]:
#inserting the data
coll_pwskills.insert_one(data3)

InsertOneResult(ObjectId('66a1325a7f1d71f83b6cdc6a'), acknowledged=True)

In [20]:
data4=[{"name":"sarthak"}, #it is a multiple record avilable in list
        {"name":"utkarsh"},
        {"name":"om"},
        {"name":"himanshu"},
        {"name":"ram"}, #json 
        {"name":"rahul"}
        
       
]

In [17]:
coll_pwskills.insert_many(data4)

InsertManyResult([ObjectId('66a13ae27f1d71f83b6cdc6b'), ObjectId('66a13ae27f1d71f83b6cdc6c'), ObjectId('66a13ae27f1d71f83b6cdc6d'), ObjectId('66a13ae27f1d71f83b6cdc6e'), ObjectId('66a13ae27f1d71f83b6cdc6f'), ObjectId('66a13ae27f1d71f83b6cdc70')], acknowledged=True)

In [18]:
for i in coll_pwskills.find():
    print(i)

{'_id': ObjectId('669804de46f0e968043d4852'), 'name': 'sarthak', 'class': 'data science master', 'time': 'flexible'}
{'_id': ObjectId('6698063e46f0e968043d4853'), 'mail_id': 'sarthak@gmail.com', 'phone_number': 63442, 'address': 'nagpur'}
{'_id': ObjectId('669808ff46f0e968043d4854'), 'name': 'sarthak'}
{'_id': ObjectId('669808ff46f0e968043d4855'), 'name': 'utkarsh'}
{'_id': ObjectId('669808ff46f0e968043d4856'), 'name': 'om'}
{'_id': ObjectId('669808ff46f0e968043d4857'), 'name': 'himanshu'}
{'_id': ObjectId('669808ff46f0e968043d4858'), 'name': 'ram'}
{'_id': ObjectId('669808ff46f0e968043d4859'), 'name': 'rahul'}
{'_id': ObjectId('66980c9e46f0e968043d485a'), 'item1': {'price': 150, 'quantity': 10}, 'item2': {'price': 80, 'quantity': 5}, 'item3': {'price': 200, 'quantity': 2}, 'item4': {'price': 90, 'quantity': 20}}
{'_id': ObjectId('66980de846f0e968043d485b'), 'id': 1, 'name': 'Alice', 'age': 30}
{'_id': ObjectId('66980de846f0e968043d485c'), 'id': 2, 'name': 'kumar', 'age': 25}
{'_id': ObjectId('66980de846f0e968043d485d'), 'id': 3, 'name': 'Charlie', 'age': 35}
{'_id': ObjectId('66980de846f0e968043d485e'), 'id': 4, 'name': 'Diana', 'age': 28}
{'_id': ObjectId('66980de846f0e968043d485f'), 'id': 5, 'name': 'Eve', 'age': 22}
{'_id': ObjectId('66a130ed7f1d71f83b6cdc69'), 'name': 'utkasrh', 'class': ' accenture data science master', 'time': 'flexible'}
{'_id': ObjectId('66a1325a7f1d71f83b6cdc6a'), 'name': 'utkasrh', 'class': ' accenture data science master', 'time': 'flexible'}
{'_id': ObjectId('66a13ae27f1d71f83b6cdc6b'), 'name': 'sarthak'}
{'_id': ObjectId('66a13ae27f1d71f83b6cdc6c'), 'name': 'utkarsh'}
{'_id': ObjectId('66a13ae27f1d71f83b6cdc6d'), 'name': 'om'}
{'_id': ObjectId('66a13ae27f1d71f83b6cdc6e'), 'name': 'himanshu'}
{'_id': ObjectId('66a13ae27f1d71f83b6cdc6f'), 'name': 'ram'}
{'_id': ObjectId('66a13ae27f1d71f83b6cdc70'), 'name': 'rahul'}

In [19]:
coll_pwskills.find_one() # to find. filter

{'_id': ObjectId('669804de46f0e968043d4852'),
 'name': 'sarthak',
 'class': 'data science master',
 'time': 'flexible'}

In [ ]:
Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.
soln:The find() method queries a MongoDB collection for documents that match specific criteria.
Connect to MongoDB:
Use MongoClient to connect to the MongoDB server.

Create Database and Collection:
Access the database and collection.

Insert Sample Documents:
Use insert_many to add documents to the collection.

Query the Collection:
Use find() with a query to retrieve documents where the age is greater than 25.
Iterate over and print the results.

In [21]:
data5=[{"name":"sarthak"}, #it is a multiple record avilable in list
        {"name":"utkarsh"},
        {"name":"om"},
        {"name":"himanshu"},
        {"name":"ram"}, #json 
        {"name":"rahul"}
        
       
]

In [22]:
for i in coll_pwskills.find({'name':'sarthak'}):
    print(i)

{'_id': ObjectId('669804de46f0e968043d4852'), 'name': 'sarthak', 'class': 'data science master', 'time': 'flexible'}
{'_id': ObjectId('669808ff46f0e968043d4854'), 'name': 'sarthak'}
{'_id': ObjectId('66a13ae27f1d71f83b6cdc6b'), 'name': 'sarthak'}

In [ ]:
Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.
soln:The sort() method is used to order query results based on a specified field and direction.

In [23]:
# Create a Database and Collection
db = client["mydatabase"]
collection = db["mycollection"]

# Insert Sample Documents
sample_data = [
    {"name": "John Doe", "age": 30, "city": "New York"},
    {"name": "Jane Smith", "age": 25, "city": "Los Angeles"},
    {"name": "Alice Johnson", "age": 28, "city": "Chicago"},
    {"name": "Bob Brown", "age": 35, "city": "Miami"}
]
collection.insert_many(sample_data)

# Sort by age in ascending order
results = collection.find().sort("age", 1)
print("Sorted by age (ascending):")
for document in results:
    print(document)

# Sort by age in descending order
results = collection.find().sort("age", -1)
print("Sorted by age (descending):")
for document in results:
    print(document)

Sorted by age (ascending):
{'_id': ObjectId('66a14ab17f1d71f83b6cdc72'), 'name': 'Jane Smith', 'age': 25, 'city': 'Los Angeles'}
{'_id': ObjectId('66a14ab17f1d71f83b6cdc73'), 'name': 'Alice Johnson', 'age': 28, 'city': 'Chicago'}
{'_id': ObjectId('66a14ab17f1d71f83b6cdc71'), 'name': 'John Doe', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('66a14ab17f1d71f83b6cdc74'), 'name': 'Bob Brown', 'age': 35, 'city': 'Miami'}
Sorted by age (descending):
{'_id': ObjectId('66a14ab17f1d71f83b6cdc74'), 'name': 'Bob Brown', 'age': 35, 'city': 'Miami'}
{'_id': ObjectId('66a14ab17f1d71f83b6cdc71'), 'name': 'John Doe', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('66a14ab17f1d71f83b6cdc73'), 'name': 'Alice Johnson', 'age': 28, 'city': 'Chicago'}
{'_id': ObjectId('66a14ab17f1d71f83b6cdc72'), 'name': 'Jane Smith', 'age': 25, 'city': 'Los Angeles'}

In [ ]:
Q7. Explain why delete_one(), delete_many(), and drop() is used.
soln:1. delete_one()
Purpose: Deletes a single document that matches the filter.
Example: Deletes the first document with the name "John Doe"

2. delete_many()
Purpose: Deletes all documents that match the filter.
Example: Deletes all documents where the age is less than 30

3. drop()
Purpose: Deletes the entire collection.
Example: Deletes the collection and all its documents